:root {
    --primario: #F5BB00;
    --secundario : #134074;
    --select:  #023e8a;
    --secundarioOscuro: #0b2545;
    --fuentePrimaria : 'Montserrat', sans-serif;;
    --text-color: #f7b85b;;
    --timing-function: cubic-bezier(0.82, 0.2, 0.42, 1);
}

html {
  box-sizing: border-box;
  width: 100%;
}
*,*:before,*:after {
  box-sizing: inherit;
}
body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

p{
    margin:0;
}
h2{
    color: var(--primario);
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}



/*** Utilidades ***/

.contenedor{
    width: 95%;
    margin: 0 auto;
    
}
@media (min-width: 1200px) {
    .contenedor{
        max-width: 1400px;
        margin: 0 auto;
    }
}

.btn{
    display:block;
    background-color: var(--select);
    padding: 20px 40px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 30px;
    text-align: center;
    transition: all .3s ease-out;
}
@media (min-width: 480px) {
    .btn{
        display: inline-block;
    }
}
.btn:hover{
    background-color: var(--primario);
}
.seccion{
    margin-bottom: 5rem;
}
/* header */

ul {
  list-style: none;
}
.barra{
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px 0;
    z-index: 1000;
    width: 100%;
    border-bottom: 5px solid var(--primario);  
}

.menu {
    text-align: center;
    margin: 0;
    padding: 50px;
    display: none;
}

@media (min-width: 768px) {
    .menu{
        padding: 0px;
        display: block;
    }
}
@media (min-width: 768px) {
    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.menu li {
  margin-right: 70px;
  
}
.menu a {
    font-family: var(--fuentePrimaria);
    position: relative;
    display: block;
    padding: 10px;
    overflow: hidden;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    transition: color 0s 0.25s var(--timing-function);
    margin: 0 auto;

}
@media (min-width: 768px) {
    .menu a{
        font-size: 1.3rem;
    }
}
@media (min-width: 920px) {
    .menu a{
        font-size: 2rem;
    }
}

.menu a::before,
.menu a::after {
    position: absolute;
    left: 0;
    width: 100%;
}

.menu a::before {
    content: '';
    top: 50%;
    transform: translate(-101%, -50%);
    height: 50%;
    z-index: 1;
    background: var(--text-color);
    transition: transform 0.5s var(--timing-function);
}

.menu a::after {
    content: attr(data-icon);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--text-color);
    opacity: 0;
    transition: opacity 0s 0.25s var(--timing-function);
}

.menu a:hover {
    color: transparent;
}

.menu a:hover::before {
     transform: translate(101%, -50%);
}

.menu a:hover::after {
    opacity: 1;
}


/* Animacion */
.menu[data-animation="to-left"] a::before {
     transform: translate(101%, -50%);
}

.menu[data-animation="to-left"] a:hover::before {
    transform: translate(-101%, -50%);
}


/** menu mobil **/
.menu-mobil{
    width: 70px;
    margin-left: 40px;
   
}

.menu-mobil span{
    align-items: center;
    height: 20px;
    width: 100%;
    margin-bottom: 6px;
    background-color: white;
    display: block;
    width: 100%;
}
@media (min-width: 768px) {
  .menu-mobil{
    display: none;
  }
}



/** presentacion **/
.seccion-presentacion{
    height: 100%;
    margin-bottom: 10rem;
}

@media (min-width: 768px) {
    .seccion-presentacion{
        height: 100vh;
        margin-bottom: 0;
    }
}


.presentacion{
    flex: 0 0 calc(50% - 1rem);
}

.presentacion h1{
    font-family: var(--fuentePrimaria);
    display: block;
    font-weight: 300;
}
.presentacion strong{
    display: inline-block;
    font-weight: 900;
    color: #f7b85b;
}
.presentacion img{
    max-width: 100%;
}
@media (min-width: 920px) {
    .seccion-presentacion{
         display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .imagen-presentacion{
        order: 2;
    }
}

/**** About me ****/

.seccion-sobre-mi{
    height: 100%;
    background-color: var(--select);
    padding: 50px 0;
}
.acerca-de-mi{
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sobre_mi{
    flex: 0 0 100%;
    order: 2;
}
.sobre_mi h2{
    color: var(--primario);
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--fuentePrimaria);
    margin-top: 40px;
}
@media (min-width: 920px) {
    .sobre_mi{
        flex: 0 0 calc(60% - 2rem);
    }
}
h3{
    color: var(--primario);
    font-family: var(--fuentePrimaria);
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
}

.campos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;   
}

@media (min-width: 768px) {
    .campos{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 920px) {
    .sobre_mi{
        order:  -1;
    }
}
.campo{
    border: 1px solid var(--secundarioOscuro);
    text-align: center;
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 30px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.php img{
    border-radius: 50%;
}
.campo img{
    width: 70%;
}
@media (min-width: 480px) {
    .campo img{
        width: 70px;
    }
}
@media (min-width: 720px) {
    .campo img{
        width: 100px;
    }
}
.campo p{
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;

}
@media (min-width: 920px) {
    .campo p{
        font-size: 1.2vw;
    }
}
@media (min-width: 1200px) {
    .campo p {
        font-size: 15px;
    }
}


/*** mi foto ***/
.mi-foto{
    overflow: hidden;  
    margin: 0 auto;
}
.mi-foto img{
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    transition: all .3s ease-in-out;
    order: 1; 
}
@media (min-width: 480px) {
    .mi-foto{
        text-align: center;
    }
    .mi-foto img{
        width: 80%;
    }
}
@media (min-width: 920px) {
    .mi-foto{
     flex: 0 0 calc(40% - 2rem);
        margin: 40px 0 0 0;
    }
    .mi-foto img{
        width: 100%;
        order: 2;
    }
}

/*** proyectos ****/
.seccion-proyectos{
    height: 120%;
}
.marcadores{
  text-align: center;
}
.marcadores a:hover{
    color: var(--primario);
}
.marcadores a{
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 900;
    padding: 20px 30px;
    border-radius: 5px;
    margin: 40px 0;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
}
@media (min-width: 768px) {
    .marcadores a{
        display: inline-block;
    }
}
.seleccionado{
    background-color: var(--select);
    padding: 15px 40px;
    color: white!important;
    border-radius: 20px;
}

.contenedor-proyectos{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}
@media (min-width: 480px) {
    .contenedor-proyectos{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 768px) {
    .contenedor-proyectos{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.mis-proyectos{
    background-color: var(--select);
    text-align: center;
    padding: 40px 0;
    border-radius: 5px;
    border: 5px solid var(--secundario);
}
.mis-proyectos p{
    color: white;
}
.mis-proyectos img{
    width: 200px;
}
.mis-proyectos{
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    transition: all .3s ease-out;
}   

.mis-proyectos:hover{   
    background-color: var(--primario);
    border: 5px solid var(--primario);
    max-width: 100%;
}
.mis-proyectos:hover{
    color: var(--primario);
} 

/**** FOOTER  ****/
.footer{
    border-bottom: none;
    border-top: 5px solid #f7b85b;
}
.menu-footer {
  display: block!important;
}
@media (min-width: 768px) {
    .menu-footer{
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
}


/**** Contacto *****/
.parallax::before{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  filter: brightness(.8);
}
.contador{
  position: relative;
  height: auto;
}
.contador::before{
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("../img/desarrollo.jpg");
  content: '';
}
.contenido-telefono{
    position: relative;
    padding: 120px 0;
    text-align: center;
    
}
.contenido-telefono i{
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}
.contenido-telefono h2{
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 25px;
}
.contenido-telefono p{
    font-size: 50px;
    color: #F5BB00;
    font-weight: 900;
}
.campos-contacto{
    max-width: 600px;
    margin: 3rem auto;

}
.campos-contacto input[type="text"],
.campo-contacto input[type="email"],
.campo-contacto input[type="tel"]{
    height: 50px;
    font-size: 15px;
    margin-bottom: 5px;
    padding: 17px;
}
.campo-contacto input[type="text"]{
    width: 100%;
}
@media (min-width: 768px) {
    .bg-6{
        float: left;
        width: 50%;
    }
}
.campo-contacto input[type="email"]{
 
    width: 100%;
}
@media (min-width: 768px) {
    .campo-contacto input[type="email"]{
        width: 98%;
        margin-right: 5px;
    }
}
.campo-contacto input[type="tel"]{
    width: 100%;
}
textarea{
    width: 100%;
    height: 300px;
    padding: 17px;
    font-size: 15px;
}
.btn-contacto{
    border: none;
    float: right;
    display: block;
    width: 100%;
    margin-top: 10px;
    background-color: var(--select);
    font-size: 20px;
    text-transform: uppercase;
    padding: 20px 10px;
    color: white;
    transition: all .2s ease-out;
}
@media (min-width: 480px) {
    .btn-contacto{
        display: inline-block;
        width: 30%;
    }
}
.btn-contacto:hover{
    background-color: var(--primario);
    cursor: pointer;
}

.correcto{
    padding: 30px 60px;
    width: 60%;
    margin: 5rem auto;
    background-color: #DFF0D8;
    color: #468847;
    border-radius: 5px;
}






